/* Write your CSS here */
.destination-item {
  width: 160px;
  text-align: center;
}

.destination-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.destination-name {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #252627;
}
